.DS_Store
.env
.env.*
!.env.example
node_modules
.next
dist
coverage
.turbo
*.log
apps/web-ui/.next
apps/web-ui/node_modules
apps/api-gateway/node_modules
apps/native-ui/.dart_tool
apps/native-ui/.flutter-plugins
apps/native-ui/.flutter-plugins-dependencies
apps/native-ui/.packages
apps/native-ui/build
